document_root/xsd/check.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:html="http://www.w3.org/1999/xhtml">
  <xs:element name="ticket">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="apiKey" type="xs:string" minOccurs="0" />
        <xs:element name="id" type="xs:integer" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>